  <div class='mdl-card mdl-shadow--2dp mdl-card-default'>
    <div class='mdl-card__title'>
      <h3 class='mdl-card__title-text'>Sign in</h3>
    </div>
    <div class='mdl-card__supporting-text'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-input'}) do |f| %>
        <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_full'>
          <label class='mdl-textfield__label' for='email'>Email</label>
          <input class='mdl-textfield__input' id='user_email' name="user[email]">
        </div>
        <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_full'>
          <label class='mdl-textfield__label' for='password'>password</label>
          <input type='password' class='mdl-textfield__input' id='user_password' name="user[password]">
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_full'>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="user_remember_me">
              <input type="checkbox" id="user_remember_me" name='user[remember_me]' class="mdl-switch__input" />
              <span class="mdl-switch__label">Remember Me</span>
            </label>
          </div>
        <% end -%>
        <div><button type="submit" class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>Sign In</button></div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
