<h1>Welcome to Twitter Feeds!</h1>

<p>Sorry, but we don't do much at the moment... you can only pull a user's public tweets by their Twitter handle.</p>

<div><a href='/twitter' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>Go See Some Tweets!</a></div>